:root {
  --color-acent-400: #f25f3a;
  --color-acent-100: #ffefeb;
  --color-primary-400: #242d52;
  --color-primary-100: #a0aad5;
  --color-neutral-100: #1d1e25;
  --color-neutral-900: #000000;
  --color-white: #fff;
}
:target {
  scroll-margin-top: 10rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* utility classes */
.wrapper {
  padding: 0 10rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.acent {
  color: var(--color-acent-400);
}
.icon {
  width: 3rem;
  height: 3rem;
}
.h2 {
  padding: 2rem 0;
  font-size: 2.5rem;
}
.paragraph-text {
  font-size: 1.5rem;
}
.show-item{
  animation: movedown 1s linear forwards;
}

/* HEADER STYLE */

.background-clip {
  position: absolute;
  width: 100vw;
  right: 0;
  top: 0;
  z-index: -1;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 15px var(--color-neutral-900);
  top: 0;
  right: 0;
  left: 0;
  z-index: 23;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 7rem;
  border-radius: 10px;
}
.links {
  width: 30%;
}
.links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.links ul li a {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-acent-400);
}
.links ul li a:hover {
  color: var(--color-acent-100);
}
.links ul li a:after {
  content: "";
  position: absolute;
  background-color: var(--color-acent-100);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  border-radius: 3rem;
  transition: 0.3s;
}
.links a:hover:after {
  width: 100%;
}
.close-menu,
.open-menu {
  display: none;
}

/* HERO STYLE */

.home {
  height: 100vh;
}
.home-content {
  color: white;
}
.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content h3 {
  font-size: 3.5rem;
  font-weight: 700;
}
.home-content p {
  margin: 2rem 0;
  font-size: 1.5rem;
}
.social {
  display: flex;
  gap: 3rem;
}
.social a {
  font-size: 20px;
  border: 2px solid;

  text-decoration: none;
  border-radius: 50%;
  color: var(--color-acent-400);
  margin: 1rem;
  margin-left: 0;
  transition: 0.3s ease;
}
.social a:hover {
  background-color: var(--color-acent-400);
  color: var(--color-acent-100);
  box-shadow: 0 0 15px var(--color-acent-100);
  transform: scale(1.2) translateY(-10px);
  border: none;
}

/* About section */

.about {
  height: 70dvh;
  background-color: var(--color-acent-100);
}
.about-content {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.about-image {
  width: 100%;
  position: absolute;
  top: 10px;
}
.about-image img {
  width: 16vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--color-acent-400);
  animation: floatImage 4s ease-in-out infinite;
  transition: 0.4s ease;
}
.about-content-right {
  width: 70%;
  flex-direction: column;
}
.about-content-right h2 {
  position: relative;

}
.about-content-right h2::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    var(--color-acent-100),
    var(--color-neutral-900),
    var(--color-acent-100)
  );
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 1rem 0;
}
.info {
  display: flex;
  justify-content: space-between;
}
.info-left {
  width: 50%;
  position: relative;
  padding: 1rem 2rem;
  line-height: 2rem;
}
.info-left::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: linear-gradient(
    to bottom,
    var(--color-acent-100),
    var(--color-neutral-900),
    var(--color-acent-100)
  );
  top: 0;
  right: 0;
}
.info-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 2rem;
}
.info-item {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

/* SKILL SECTION */
.tech {
  background-color: var(--color-acent-100);
  display: flex;
  flex-direction: column;
}
.tech-stack {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
.tech-stack::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: white;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
}
.animate-tech{
  animation: moveline 6s linear forwards;
}

.tech-item {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  /* animation: movedown 1s linear forwards; */
  opacity: 0;
  z-index: 1;
}
.tech-item img {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  right: -20px;
  top: 32px;
}
.tech-item-text {
  position: relative;
  padding: 20px 30px;
  background: white;
  border-radius: 6px;
  font-size: 1rem;
}
.tech-item-left {
  left: 0;
}
.tech-item-right {
  left: 50%;
}
.tech-item-right img {
  left: -20px;
}
.tech-item-arrow{
  height: 0;
  width: 0;
  position:absolute;
  top:28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.tech-item-left-arrow{
  border-left: 15px solid white;
  right: -15px;
}
.tech-item-right-arrow{
  border-right: 15px solid white;
  left: -15px;
}
.tech-item:nth-child(2){
  animation-delay: 1s;
}
.tech-item:nth-child(3){
  animation-delay: 1s;
}
.tech-item:nth-child(4){
  animation-delay: 1s;
}
.tech-item:nth-child(5){
  animation-delay: 1s;
}
.tech-item:nth-child(6){
  animation-delay: 1s;
}
.tech-item:nth-child(7){
  animation-delay: 1s;
}


/* ANIMATIONS */

/* about photo float */

@keyframes floatImage {
  0% {
    transform: translateY(2.3rem);
  }
  50% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(2.3rem);
  }
}

/* tech-items-move */

@keyframes movedown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* tech-line */

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}



@media screen and (max-width: 1200px) {
  .wrapper {
    padding: 0 7rem;
  }
  .home-content h1 {
    font-size: 4.5rem;
  }
  .home-content h3 {
    font-size: 3rem;
  }
  .paragraph-text {
    font-size: 1.3rem;
  }
  .h2{
    font-size: 2rem;
  }
  /* ABOUT */
  .about{
    height: 70dvh;
  }
  .about-image {
    top: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 5rem;
  }
  .home-content h1 {
    font-size: 4rem;
  }
  .home-content h3 {
    font-size: 2.5rem;
  }
  .home-content p {
    font-size: 1.1rem;
  }
  .paragraph-text {
    font-size: 1.2rem;
  }
  .h2{
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 930px) {
  .background-clip{
    height: 100dvh;
    width: auto;
    object-fit: cover;
  }
  .wrapper {
    padding: 0 4rem;
  }
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content h3 {
    font-size: 2rem;
  }
  .home-content p {
    font-size: 1rem;
  }
  .links {
    width: 35%;
  }
  .paragraph-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .background-clip {
    display: none;
  }
  .home {
    background-image: url(assets/tablebackground.png);
    background-position: center;
    background-size: cover;
  }
  .wrapper {
    padding: 0 1.5rem;
  }
  .links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--color-acent-100);
    background-color: rgba(0, 0, 0, 0.7);
    transition: right 400ms ease-out;
  }
  .close-menu,
  .open-menu {
    display: inline-block;
    background: transparent;
    border: none;
    color: var(--color-acent-100);
  }
  .show {
    right: 0;
  }
  .hidden {
    display: none;
  }
  .links ul {
    flex-direction: column;
  }
  .links ul li {
    width: 100%;
    padding: 1rem;
  }
  .links ul li a:after {
    display: none;
  }
  .about-content{
    flex-direction: column;
  }
  .about-image img{
    width: 16vw;
    margin-top: 4rem;
  }
  /* SKILLS SECTION */
  .tech-stack{
    margin: 50px auto;
  }
  .tech-stack::after{
    left: 31px;
  }
  .tech-item{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .tech-item-text{
    font-size: 13px;
  }
  .tech-item-right{
    left:0;
  }
  .tech-item img{
    left: 10px;
  }
  .tech-item-arrow{
    border-right: 15px solid white;
    border-left: 0;
    left:-15px;
  }
}
