:root {
  --color-acent-400: #f25f3a;
  --color-acent-100: #ffefeb;
  --color-primary-400: #242d52;
  --color-primary-100: #a0aad5;
  --color-neutral-100: #1d1e25;
  --color-neutral-900: #000000;
  --color-white: #fff;
}
:target {
  scroll-margin-top: 10rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
textarea {
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
}
a {
  text-decoration: none;
  color: var(--color-acent-100);
}
ul {
  list-style-type: none;
}

/* utility classes */
.wrapper {
  padding: 0 10rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.acent {
  color: var(--color-acent-400);
}
.semi-acent {
  color: var(--color-acent-100);
}
.icon {
  width: 3rem;
  height: 3rem;
}
.h2 {
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 2.5rem;
}
.paragraph-text {
  font-size: 1.3rem;
}
.show-item {
  animation: movedown 1s linear forwards;
}
.grid-slider {
  display: grid;
  gap: 3px;
  grid: repeat(5, 1fr) / repeat(6, 1fr);
}

/* HEADER STYLE */

.background-clip {
  position: absolute;
  width: auto;
  right: 0;
  top: 0;
  z-index: -1;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 15px var(--color-neutral-900);
  top: 0;
  right: 0;
  left: 0;
  z-index: 23;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 7rem;
  border-radius: 10px;
}
.links {
  width: 30%;
}
.links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.links ul li a {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-acent-400);
}
.links ul li a:after {
  content: "";
  position: absolute;
  background-color: var(--color-acent-100);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  border-radius: 3rem;
  transition: 0.3s;
}
.close-menu,
.open-menu {
  display: none;
}

/* HERO STYLE */

.home {
  height: 100dvh;
}
.home-content {
  color: white;
}
.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content h3 {
  font-size: 3.5rem;
  font-weight: 700;
}
.home-content p {
  margin: 2rem 0;
  font-size: 1.5rem;
}
.social {
  display: flex;
  gap: 3rem;
}
.social a {
  font-size: 20px;
  border: 2px solid;
  text-decoration: none;
  border-radius: 50%;
  color: var(--color-acent-400);
  margin: 1rem;
  margin-left: 0;
  transition: 0.3s ease;
}

/* About section */

.about {
  height: 70vh;
  background-color: var(--color-acent-100);
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.about-image {
  width: 100%;
  position: absolute;
  top: -50px;
}
.about-image img {
  width: 18vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--color-acent-400);
  animation: floatImage 4s ease-in-out infinite;
  transition: 0.4s ease;
}
.about-content-right {
  width: 70%;
  flex-direction: column;
}
.about-content-right h2 {
  position: relative;
}
.about-content-right h2::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    var(--color-acent-100),
    var(--color-neutral-900),
    var(--color-acent-100)
  );
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 1rem 0;
}
.info {
  display: flex;
  justify-content: space-between;
}
.info-left {
  width: 50%;
  position: relative;
  padding: 1rem 2rem;
  line-height: 2rem;
  font-size: 1.5rem;
}
.info-left::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: linear-gradient(
    to bottom,
    var(--color-acent-100),
    var(--color-neutral-900),
    var(--color-acent-100)
  );
  top: 0;
  right: 0;
}
.info-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 2rem;
}
.info-item {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

/* PROJECTS SECTION */
.projects {
  background-color: var(--color-primary-400);
}
.projects h2 {
  text-shadow: 7px 7px 0px var(--color-neutral-100),
    15px 15px 0px var(--color-neutral-900);
}
.slider-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-height: 90dvh;
  position: relative;
  width: 100%;
}

.slider-arrow {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  color: var(--color-acent-100);
  position: absolute;
  top: 50%;
  transition: scale 0.3s ease;
}
.slider-arrow:hover {
  scale: 1.3;
}
.slider-arrow-previous {
  left: 40px;
}
.slider-arrow-previous i {
  transform: rotate(-90deg);
}
.slider-arrow-next {
  right: 40px;
}
.slider-arrow-next i {
  transform: rotate(90deg);
}
.slider-item {
  position: absolute;
  transition: all 0.4s ease-in-out;
  border-radius: 15px;
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  padding: 1rem;
  background: var(--color-acent-100);
  height: 20rem;
  width: 35rem;
  left: 50%;
  transform: translateX(-50%);
  scale: 0;
  z-index: -10;
}
.overlay-1,
.overlay-3 {
  position: absolute;
  border-radius: 15px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  height: 20rem;
  width: 35rem;
}

.slider-item-1,
.overlay-1,
.slider-item-3,
.overlay-3 {
  scale: 1;
}

.slider-item-1,
.slider-item-3 {
  opacity: 0.7;
  z-index: 2;
}

.slider-item-1,
.overlay-1 {
  left: 30%;
  transform: translateX(-50%);
}

.slider-item-2 {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 30rem;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 50rem;
  scale: 1;
  z-index: 3;
}

.slider-item-3,
.overlay-3 {
  left: 70%;
  transform: translateX(-50%);
}

.slider-img {
  grid-area: 1 / 1 / 4 / 5;
}
.slider-img img {
  width: auto;
  max-height: 100%;
  border-radius: 15px 0px;
}
.slider-headline {
  grid-area: 1 / 5 / 3 / 7;
  transition: font-size 0.4s;
  font-size: 1.5rem;
  margin: 0.5em;
}
.slider-buttons {
  grid-area: 3 / 5 / 4 / 7;
  flex-direction: column;
}
.slider-buttons a {
  width: 90%;
  margin: 0.5rem;
  padding: 0.3rem 0;
  border-radius: 50px;
  border: 2px solid var(--color-acent-400);
  color: var(--color-acent-400);
  text-align: center;
}

.slider-description {
  grid-area: 4 / 1 / 6 / 7;
  margin: 0 auto;
}

.slider-item-1 .slider-headline,
.slider-item-3 .slider-headline {
  font-size: 1.2rem;
}

.slider-item-1 .slider-buttons a,
.slider-item-3 .slider-buttons a {
  margin: 0.3rem;
  padding: 0.2rem 0;
}
/* SKILL SECTION */

.tech {
  background: linear-gradient(
    to bottom,
    var(--color-primary-400) 0%,
    var(--color-primary-100) 50%,
    var(--color-primary-400) 100%
  );
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.tech h2 {
  text-shadow: 7px 7px 0px var(--color-neutral-100),
    15px 15px 0px var(--color-neutral-900);
}
.tech-background-animation {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.icon-animation {
  position: absolute;
  background-color: transparent;
  padding: 0.3rem;
  z-index: 10;
}
.tech-stack {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  opacity: 1;
}
.tech-stack::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: white;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
}

.tech-item {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.tech-item img {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  right: -20px;
  top: 32px;
}
.tech-item-text {
  position: relative;
  padding: 20px 30px;
  background: white;
  border-radius: 6px;
  font-size: 1rem;
}
.tech-item-left {
  left: 0;
}
.tech-item-right {
  left: 50%;
}
.tech-item-right img {
  left: -20px;
}
.tech-item-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.tech-item-left-arrow {
  border-left: 15px solid white;
  right: -15px;
}
.tech-item-right-arrow {
  border-right: 15px solid white;
  left: -15px;
}

/* CONTACT SECTION */
.contact {
  min-height: 100vh;
  background: var(--color-neutral-100);
}
.contact-box {
  position: relative;
  height: 30rem;
  width: 80%;
  display: flex;
  background-color: var(--color-primary-100);
  box-shadow: 0 20px 25px var(--color-acent-100);
}
.contact-info {
  position: absolute;
  top: 25px;
  left: -30px;
  width: 40%;
  height: 100%;
  background: var(--color-primary-400);
  z-index: 1;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: var(--color-acent-100);
}
.contact-info h2,
.contact-form-box h2 {
  font-size: 1.8rem;
}
.contact-info p {
  color: var(--color-acent-100);
  padding-bottom: 1rem;
  font-size: 1rem;
}
.contact-info .info-list {
  position: relative;
}
.contact-info .info-list li {
  display: flex;
  margin: 1.2rem 0;
}
.contact-info .social {
  align-self: center;
}
.contact-form-box {
  position: absolute;
  padding: 2rem;
  padding-left: 3rem;
  top: 25px;
  right: 0;
  width: 60%;
}
.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-box {
  position: relative;
  margin-bottom: 1.5rem;
}
.input-box input,
.input-box textarea {
  width: 100%;
  padding: 5px;
  font-size: 1.1rem;
  color: var(--color-neutral-900);
  background-color: var(--color-primary-100);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-primary-400);
}
.input-box input::placeholder,
.input-box textarea::placeholder {
  color: var(--color-primary-400);
  position: absolute;
  bottom: 3px;
}
.input-box span {
  position: absolute;
  left: 0;
  bottom: 2;
}
.input-box p {
  margin-top: 1.2rem;
}
.width-half {
  width: 48%;
}
.width-full {
  width: 100%;
}
.input-submit input {
  background-color: var(--color-acent-400);
  border: none;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  color: var(--color-acent-100);
}
.error-span {
  position: absolute;
  bottom: -20px;
  color: var(--color-acent-400);
  display: none;
}
.show-error-message {
  display: inline-block;
}
/* ANIMATIONS */

/* about photo float */

@keyframes floatImage {
  0% {
    transform: translateY(2.3rem);
  }
  50% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(2.3rem);
  }
}

/* tech-items-move */

@keyframes movedown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes background-icon {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.8) translateY(100px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(200px) rotate(720deg);
    opacity: 0;
  }
}
/* Hover effects  */
@media (hover: hover) {
  /* navbar links and underline */

  .links ul li a:hover {
    color: var(--color-acent-100);
  }
  .links a:hover:after {
    width: 100%;
  }

  /* social media links */

  .social a:hover {
    background-color: var(--color-acent-400);
    color: var(--color-acent-100);
    box-shadow: 0 0 15px var(--color-acent-100);
    transform: scale(1.2) translateY(-10px);
    border: none;
  }

  /* submit form input */

  .input-submit input:hover {
    background-color: var(--color-acent-100);
    color: var(--color-acent-400);
    box-shadow: 0 5px 5px var(--color-acent-400);
  }

  /* slider links */
  .slider-buttons a:hover {
    background-color: var(--color-acent-400);
    box-shadow: 0 0 15px var(--color-acent-400);
    color: var(--color-acent-100);
  }
}

@media (hover: none) {
  /* slider links */
  .slider-buttons a {
    background-color: var(--color-acent-400);
    color: var(--color-acent-100);
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding: 0 7rem;
  }
  .home-content h1 {
    font-size: 4.5rem;
  }
  .home-content h3 {
    font-size: 3rem;
  }
  .paragraph-text {
    font-size: 1.3rem;
  }
  .h2 {
    font-size: 2rem;
  }
  /* ABOUT */
  .about {
    height: 60vh;
  }
  .about-image {
    top: -30px;
  }
  .slider-item-1,
  .overlay-1,
  .slider-item-3,
  .overlay-3 {
    width: 30rem;
  }
  .slider-item-2 {
    width: 45rem;
  }
  .slider-item-3 .slider-buttons a {
    width: 100%;
  }
  .slider-img img {
    width: 100%;
    height: auto;
  }
  .contact-box {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 5rem;
  }
  .home {
    min-height: 50%;
  }
  .home-content h1 {
    font-size: 4rem;
  }
  .home-content h3 {
    font-size: 2.5rem;
  }
  .home-content p {
    font-size: 1.1rem;
  }
  .paragraph-text {
    font-size: 1.3rem;
  }
  .h2 {
    font-size: 1.8rem;
  }
  .about {
    height: 60dvh;
  }
  .about-image {
    top: -10px;
  }
  .slider-item {
    height: auto;
  }
  .slider-item-1,
  .overlay-1,
  .slider-item-3,
  .overlay-3 {
    display: none;
  }
  .grid-slider {
    gap: 1px;
    grid: repeat(3, 1fr) / repeat(6, 1fr);
  }
  .slider-img {
    grid-area: 1 / 1 / 3 / 5;
  }

  .slider-headline {
    grid-area: 1 / 5 / 1 / 7;
  }
  .slider-buttons {
    grid-area: 2 / 5 / 2 / 7;
  }
  .slider-description {
    grid-area: 3 / 1 / 4 / 7;
    margin: 0 auto;
  }
}
@media screen and (max-width: 930px) {
  .background-clip {
    height: 100dvh;
    width: auto;
    object-fit: cover;
  }
  .wrapper {
    padding: 0 2rem;
  }
  .paragraph-text {
    font-size: 1.1rem;
  }
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content h3 {
    font-size: 2rem;
  }
  .home-content p {
    font-size: 1rem;
  }
  .links {
    width: 35%;
  }
  .about-image {
    top: -5px;
    margin-left: 1rem;
  }
  .about-image img {
    width: 23vw;
  }
  .slider-item {
    padding: 0;
    overflow: hidden;
  }
  .slider-item-2 {
    width: 40rem;
  }
  .grid-slider {
    gap: 1px;
    grid: 60% 13% 13% 13% / repeat(5, 1fr);
  }
  .slider-img {
    grid-area: 1 / 1 / 2 / 6;
    overflow: hidden;
  }
  .slider-img img {
    border-radius: 0%;
  }
  .slider-headline {
    grid-area: 2 / 1 / 3 / 7;
  }
  .slider-buttons {
    grid-area: 4 / 1 / 5 / 7;
    flex-direction: row;
  }
  .slider-description {
    grid-area: 3 / 1 / 4 / 7;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .contact {
    width: 100%;
    padding: 0;
  }
  .contact-box {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
  }
  .contact-info {
    flex-wrap: wrap;
  }
  .contact-info .social {
    align-self: flex-start;
  }
  .contact-info,
  .contact-form-box {
    position: static;
    box-shadow: none;
    width: 100%;
    z-index: 0;
  }
  .contact-info h2 {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .background-clip {
    display: none;
  }
  .home {
    background-image: url(assets/background-photo.jpg);
    background-position: center;
    background-size: cover;
  }
  .links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--color-acent-100);
    background-color: rgba(0, 0, 0, 1);
    transition: right 400ms ease-out;
  }
  .close-menu,
  .open-menu {
    display: inline-block;
    background: transparent;
    border: none;
    color: var(--color-acent-100);
  }
  .show {
    right: 0;
  }
  .hidden {
    display: none;
  }
  .links ul {
    flex-direction: column;
  }
  .links ul li {
    width: 100%;
    padding: 1rem;
  }
  .links ul li a:after {
    display: none;
  }
  .about {
    height: auto;
    padding: 1rem 0;
  }
  .about-content {
    align-items: center;
    justify-content: center;
  }

  .about-content-right {
    width: 100%;
  }
  .about-image {
    display: none;
  }
  .slider-item-2 {
    max-width: 70dvw;
  }
  .grid-slider {
    gap: 1px;
    grid: 50% auto auto auto / repeat(5, 1fr);
  }
  .slider-img {
    grid-area: 1 / 1 / 2 / 6;
    overflow: hidden;
  }
  .slider-img img {
    border-radius: 0%;
  }
  .slider-headline {
    grid-area: 2 / 1 / 3 / 7;
  }
  .slider-buttons {
    grid-area: 4 / 1 / 5 / 7;
    flex-direction: row;
  }
  .slider-description {
    grid-area: 3 / 1 / 4 / 7;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .slider-arrow {
    font-size: 2rem;
    z-index: 10;
    background-color: var(--color-acent-400);
    color: var(--color-acent-100);
    padding: 0.3rem;
    border-radius: 50%;
    opacity: 0.3;
  }
  .slider-arrow:hover {
    opacity: 0.8;
  }
  /* SKILLS SECTION */
  .tech-stack {
    margin: 50px auto;
  }
  .tech-stack::after {
    left: 31px;
  }
  .tech-item {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .tech-item-text {
    font-size: 13px;
  }
  .tech-item-right {
    left: 0;
  }
  .tech-item img {
    left: 10px;
  }
  .tech-item-arrow {
    border-right: 15px solid white;
    border-left: 0;
    left: -15px;
  }
}
@media screen and (max-width: 600px) {
  .grid-slider {
    grid: auto auto auto auto / repeat(5, 1fr);
  }
  .slider-img {
    grid-area: 1 / 1 / 2 / 6;
    overflow: hidden;
  }
  .slider-img img {
    border-radius: 0%;
  }
  .slider-headline {
    grid-area: 2 / 1 / 3 / 7;
  }
  .slider-buttons {
    grid-area: 4 / 1 / 5 / 7;
    flex-direction: column;
  }
  .slider-description {
    grid-area: 3 / 1 / 4 / 7;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
